.error {
  color: red;
  font-size: 25px;
  margin: 0;
  padding: 0;
}

.buttons-container {
  display: flex;
  flex-direction: row;
}

.registration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.successful-registration-header {
  text-align: center;
}
